@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    @foreach (var item in Model)
                    {
                        @item.Key
                    }
                </h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a>
                            <svg class="stroke-icon">
                                <use href="~/BackEnd/assets/svg/icon-sprite.svg"></use>
                                @*<img src="~/assets/svg/icon-sprite.svg#stroke-home" />*@
                            </svg>
                        </a>
                    </li>
                    @foreach (var item in Model)
                    {
                        @foreach (string subItem in item.Value)
                        {
                            <li class="breadcrumb-item">@subItem</li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
