@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@using AlexBlogMVC.BackEnd.Models
@{
    List<MenuGroup> modules = TempData["module"] as List<MenuGroup>;
    List<MenuSub> moduleFunctions = TempData["moduleFun"] as List<MenuSub>;
}

<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a href="index.html"><img class="img-fluid for-light" src="~/assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt=""></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
        </div>
        <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="~/assets/images/logo/logo-icon.png" alt=""></a></div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <a href="index.html"><img class="img-fluid" src="~/assets/images/logo/logo-icon.png" alt=""></a>
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>

                    <li class="sidebar-main-title">
                        <div>
                            <h6 class="lan-1">選單資訊</h6>
                        </div>
                    </li>


                    @foreach (MenuGroup module in modules)
                    {
                        <li class="sidebar-list">
                            <a href="javascript: void(0);" class="sidebar-link sidebar-title">
                                <i class="@module.MenuGroupIcon"></i>
                                <span>  @module.MenuGroupName  </span>
                            </a>
                            @foreach (MenuSub moduleFunction in moduleFunctions)
                            {
                                if (module.MenuGroupId.Equals(moduleFunction.MenuGroupId) && !string.IsNullOrEmpty(moduleFunction.MenuSubUrl.ToString()))
                                {
                                    <ul class="sidebar-submenu" aria-expanded="false">
                                        <li><a href="@moduleFunction.MenuSubUrl">@moduleFunction.MenuSubName</a></li>
                                    </ul>
                                }
                            }
                        </li>
                    }

                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
    </div>
</div>