@model AlexBlogMVC.BackEnd.ViewModel.AdminGroupViewModel

@{
    ViewData["Title"] = "Edit";
    var breadcrumbDict = new Dictionary<string, string[]> { { "編輯群組", new string[] { "帳號管理", "群組設定", "編輯群組" } } };
}

@Html.Partial("_PageTitlePartial", breadcrumbDict);

<div class="card">
    <div class="card-header">
        <h5>編輯帳號</h5>
    </div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GroupNum" />
        <input type="hidden" asp-for="CreateTime" />
        <input type="hidden" asp-for="Creator" />
        <input type="hidden" asp-for="Ip" />
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <div class="mb-3 row">
                        <label asp-for="EditorName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            @Model.EditorName
                        </div>
                        <span asp-validation-for="EditorName" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="GroupPublish" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="GroupPublish" class="form-control">
                                <option value="true">啟用</option>
                                <option value="false">關閉</option>
                            </select>
                        </div>
                        <span asp-validation-for="GroupPublish" class="text-danger"></span>
                    </div>



                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-primary" type="submit">Submit</button>
                <input class="btn btn-light" type="reset" value="Cancel">
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
