@model AlexBlogMVC.Areas.ViewModel.BannerViewModel

@{
    ViewData["Title"] = "新增廣告";
    var breadcrumbDict = new Dictionary<string, string[]> { { "新增廣告", new string[] { "廣告管理", "廣告設定", "新增廣告" } } };
}

@Html.Partial("_PageTitlePartial", breadcrumbDict)

<div class="card">
    <div class="card-header">
        <h5>新增廣告</h5>
    </div>
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <div class="mb-3 row">
                        <label asp-for="CreatorName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            @Model.CreatorName
                        </div>
                        <span asp-validation-for="CreatorName" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="BannerTitle" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            <input asp-for="BannerTitle" class="form-control" />
                        </div>
                        <span asp-validation-for="BannerTitle" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="BannerDescription" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="BannerDescription" class="form-control" />
                        </div>
                        <span asp-validation-for="BannerDescription" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="BannerContxt" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            @*<input asp-for="BannerContxt" class="form-control" type="password" autocomplete="off" />*@
                            <textarea asp-for="BannerContxt" class="form-control ckeditor"></textarea>
                        </div>
                        <span asp-validation-for="BannerContxt" class="text-danger"></span>
                    </div>



                    <div class="mb-3 row">
                        <label asp-for="BannerImg1" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="FileData" class="form-control" type="file" onchange="previewFile(this)" accept="image/*" />
                            <span asp-validation-for="FileData" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <img id="preview" src="" style="max-width:200px;max-height:200px;" />
                            <input asp-for="BannerImg1" class="form-control" type="hidden" />
                        </div>
                    </div>



                    <div class="mb-3 row">
                        <label asp-for="BannerPutTime" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="BannerPutTime" class="form-control" type="date" autocomplete="off" />
                        </div>
                        <span asp-validation-for="BannerPutTime" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="BannerOffTime" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="BannerOffTime" class="form-control" type="date" autocomplete="off" />
                        </div>
                        <span asp-validation-for="BannerOffTime" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="BannerPublish" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="BannerPublish" class="form-control">
                                <option value="true">啟用</option>
                                <option value="false">關閉</option>
                            </select>
                        </div>
                        <span asp-validation-for="BannerPublish" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-primary" type="submit">確定</button>
                <input class="btn btn-light" type="reset" value="重設">
            </div>
        </div>
    </form>
</div>

<script>
    function previewFile(input) {
        var preview = document.getElementById('preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
            document.getElementById('BannerImg1').value = file.name;
        } else {
            preview.src = "";
            document.getElementById('BannerImg1').value = "";
        }
    }



    ClassicEditor
        .create( document.querySelector( '.ckeditor' ), {
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        } )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
