@model AlexBlogMVC.BackEnd.ViewModel.NewsViewModel

@{
    ViewData["Title"] = "新增消息";
    var breadcrumbDict = new Dictionary<string, string[]> { { "新增消息", new string[] { "消息管理", "消息設定", "新增消息" } } };
}

<!-- 麵包屑及標題-->
@Html.Partial("_PageTitlePartial", breadcrumbDict)

<div class="card">
    <div class="card-header">
        <h5>新增消息</h5>
    </div>
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <div class="mb-3 row">
                        <label asp-for="CreatorName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            @Model.CreatorName
                        </div>
                        <span asp-validation-for="CreatorName" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="NewsClass" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.NewsClass, new SelectList(ViewBag.newsClass, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        </div>
                        <span asp-validation-for="NewsClass" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="NewsTitle" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            <input asp-for="NewsTitle" class="form-control" />
                        </div>
                        <span asp-validation-for="NewsTitle" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="NewsDescription" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="NewsDescription" class="form-control" />
                        </div>
                        <span asp-validation-for="NewsDescription" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="NewsContxt" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            @*<input asp-for="BannerContxt" class="form-control" type="password" autocomplete="off" />*@
                            <textarea asp-for="NewsContxt" class="form-control ckeditor"></textarea>
                        </div>
                        <span asp-validation-for="NewsContxt" class="text-danger"></span>
                    </div>



                    <div class="mb-3 row">
                        <label asp-for="NewsImg1" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="FileData" class="form-control" type="file" onchange="previewFile(this)" accept="image/*" />
                            <span asp-validation-for="FileData" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <img id="preview" src="" style="max-width:200px;max-height:200px;" />
                            <input asp-for="NewsImg1" class="form-control" type="hidden" />
                        </div>
                    </div>



                    <div class="mb-3 row">
                        <label asp-for="NewsPutTime" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="NewsPutTime" class="form-control" type="date" autocomplete="off" />
                        </div>
                        <span asp-validation-for="NewsPutTime" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row">
                        <label asp-for="NewsOffTime" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="NewsOffTime" class="form-control" type="date" autocomplete="off" />
                        </div>
                        <span asp-validation-for="NewsOffTime" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="NewsPublish" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="NewsPublish" class="form-control">
                                <option value="true">啟用</option>
                                <option value="false">關閉</option>
                            </select>
                        </div>
                        <span asp-validation-for="NewsPublish" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-primary" type="submit">確定</button>
                <input class="btn btn-light" type="reset" value="重設">
            </div>
        </div>
    </form>
</div>

<script>
    function previewFile(input) {
        var preview = document.getElementById('preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
            document.getElementById('NewsImg1').value = file.name;
        } else {
            preview.src = "";
            document.getElementById('NewsImg1').value = "";
        }
    }



    ClassicEditor
        .create(document.querySelector('.ckeditor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
        })
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

