@model AlexBlogMVC.BackEnd.Models.News

@{
    ViewData["Title"] = "Edit";
    var breadcrumbDict = new Dictionary<string, string[]> { { "編輯消息", new string[] { "消息管理", "消息設定", "編輯消息" } } };
}

<!-- 麵包屑及標題-->
@Html.Partial("_PageTitlePartial", breadcrumbDict)

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsNum" />
            <div class="form-group">
                <label asp-for="Lang" class="control-label"></label>
                <input asp-for="Lang" class="form-control" />
                <span asp-validation-for="Lang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsClass" class="control-label"></label>
                <input asp-for="NewsClass" class="form-control" />
                <span asp-validation-for="NewsClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsSort" class="control-label"></label>
                <input asp-for="NewsSort" class="form-control" />
                <span asp-validation-for="NewsSort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsTitle" class="control-label"></label>
                <input asp-for="NewsTitle" class="form-control" />
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsDescription" class="control-label"></label>
                <input asp-for="NewsDescription" class="form-control" />
                <span asp-validation-for="NewsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsContxt" class="control-label"></label>
                <input asp-for="NewsContxt" class="form-control" />
                <span asp-validation-for="NewsContxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsImg1" class="control-label"></label>
                <input asp-for="NewsImg1" class="form-control" />
                <span asp-validation-for="NewsImg1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsImgUrl" class="control-label"></label>
                <input asp-for="NewsImgUrl" class="form-control" />
                <span asp-validation-for="NewsImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsImgAlt" class="control-label"></label>
                <input asp-for="NewsImgAlt" class="form-control" />
                <span asp-validation-for="NewsImgAlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsPublish" class="control-label"></label>
                <input asp-for="NewsPublish" class="form-control" />
                <span asp-validation-for="NewsPublish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsViews" class="control-label"></label>
                <input asp-for="NewsViews" class="form-control" />
                <span asp-validation-for="NewsViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsPutTime" class="control-label"></label>
                <input asp-for="NewsPutTime" class="form-control" />
                <span asp-validation-for="NewsPutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditTime" class="control-label"></label>
                <input asp-for="EditTime" class="form-control" />
                <span asp-validation-for="EditTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editor" class="control-label"></label>
                <input asp-for="Editor" class="form-control" />
                <span asp-validation-for="Editor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsOffTime" class="control-label"></label>
                <input asp-for="NewsOffTime" class="form-control" />
                <span asp-validation-for="NewsOffTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
