@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<meta charset="utf-8">
<title>@ViewData["Title"]</title>
<!-- Stylesheets -->
<link href="~/FrontEnd/css/bootstrap.css" rel="stylesheet">
<link href="~/FrontEnd/css/nouislider.css" rel="stylesheet">
<link href="~/FrontEnd/css/nouislider.pips.css" rel="stylesheet">
<link href="~/FrontEnd/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="~/FrontEnd/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
<!-- Font Awesome -->
<link href="~/FrontEnd/css/cdnjs.cloudflare.com_ajax_libs_font-awesome_6.0.0_css_all.min.css" rel="stylesheet">

<link href="~/FrontEnd/css/cdnjs.cloudflare.com_ajax_libs_mdb-ui-kit_6.3.1_mdb.min.css" rel="stylesheet">

<link href="~/FrontEnd/css/fonts.googleapis.com_css_family=Roboto_300,400,500,700&display=swap.css" rel="stylesheet">