
// loader starts
.loader-wrapper
  .loader-index
    span
  svg
    defs
    filter#goo
      fegaussianblur(in='SourceGraphic' stddeviation='11' result='blur')
      fecolormatrix(in='blur' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9' result='goo')  
// loader ends
