@{
    Layout = null;
    Dictionary<string, string[]> keyValuePairs = Model as Dictionary<string, string[]>;
}

<section class="page-title" style="background-image:url('@Url.Content("~/uploads/Banner/" + ViewBag.Banner)');">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Title -->
                    <div class="title-column">
                        @foreach (var item in keyValuePairs)
                        {
                            <h1>@item.Key</h1>
                            
                        }
                    </div>
                    <!--Bread Crumb -->
                    <div class="breadcrumb-column">
                        <ul class="bread-crumb clearfix">
                            @foreach (var item in keyValuePairs)
                            {
                                @foreach (string subItem in item.Value)
                                {
                                    <li class="breadcrumb-item">@subItem</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>