@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<title>@ViewData["Title"]</title>
<!-- Stylesheets -->
<link href="~/FrontEnd/css/bootstrap.css" rel="stylesheet">
<link href="~/FrontEnd/css/nouislider.css" rel="stylesheet">
<link href="~/FrontEnd/css/nouislider.pips.css" rel="stylesheet">
<link href="~/FrontEnd/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<meta name="title" content="探索最新的電腦零件、筆記型電腦、手機和半導體相關的科技新聞和購物 | Alex's Tech News & Store - alexweb.ddns.net">
<meta name="description" content="探索最新的電腦零件、筆記型電腦、手機和半導體相關的科技新聞和趨勢，從我們的新聞平台獲取即時資訊。了解最前沿的技術和創新，探索科技世界的無限可能性。進入我們的網上商店，探索最新的筆記型電腦、電腦零件和其他科技產品，滿足您的需求。">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="canonical" href="https://alexweb.ddns.net">
<meta name="keywords" content="科技新聞, 電腦零件, 筆記型電腦, 手機, 半導體, 購物, 科技產品, Alex作品網站">
<meta name="robots" content="all">
<meta name="googlebot" content="all">
<meta name="author" content="AlexCai">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="global">
<meta name="rating" content="general">
<meta name="language" content="Traditional Chinese">
<meta name="target" content="all">
<meta name="referrer" content="always">


<link href="~/FrontEnd/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css"
      rel="stylesheet" />


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>