@model AlexBlogMVC.BackEnd.Models.NewsClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NewsClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsClassNum" />
            <div class="form-group">
                <label asp-for="NewsClassSort" class="control-label"></label>
                <input asp-for="NewsClassSort" class="form-control" />
                <span asp-validation-for="NewsClassSort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsClassId" class="control-label"></label>
                <input asp-for="NewsClassId" class="form-control" />
                <span asp-validation-for="NewsClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsClassName" class="control-label"></label>
                <input asp-for="NewsClassName" class="form-control" />
                <span asp-validation-for="NewsClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsClassLevel" class="control-label"></label>
                <input asp-for="NewsClassLevel" class="form-control" />
                <span asp-validation-for="NewsClassLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsClassPre" class="control-label"></label>
                <input asp-for="NewsClassPre" class="form-control" />
                <span asp-validation-for="NewsClassPre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsClassPublish" class="control-label"></label>
                <input asp-for="NewsClassPublish" class="form-control" />
                <span asp-validation-for="NewsClassPublish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditTime" class="control-label"></label>
                <input asp-for="EditTime" class="form-control" />
                <span asp-validation-for="EditTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editor" class="control-label"></label>
                <input asp-for="Editor" class="form-control" />
                <span asp-validation-for="Editor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
