- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
- var height_equal          = true;
- var prism                 = true;
- var clipboard             = true;
- var customcard            = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h4
                    | Accordion
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Ui Kits
                    li.breadcrumb-item.active Accordion
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12.col-xl-6
                .card.height-equal
                  .card-header
                    h4 Simple Accordion
                    p.f-m-light.mt-1
                      | Click the accordions below to expand/collapse the accordion content.
                      | Use the 
                      code .accordion 
                      | .
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body
                    #accordionExample.accordion.dark-accordion
                      .accordion-item
                        h2#headingOne.accordion-header
                          button.accordion-button.collapsed.accordion-light-primary.txt-primary.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                            | What do web designers do?
                            i.svg-color(data-feather='chevron-down')
                        #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                          .accordion-body
                            p 
                              | Web design
                              em.txt-danger  identifies the goals
                              |  of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements.
                      .accordion-item
                        h2#headingTwo.accordion-header
                          button.accordion-button.collapsed.accordion-light-primary.txt-primary.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                            | What is the use of web design?
                            i.svg-color(data-feather='chevron-down')
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                          .accordion-body
                            p 
                              strong  Search engine optimization: 
                              |  Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.
                              br
                              br
                              strong  Mobile responsiveness:
                              |  Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.
                              br
                              br
                              strong  Improved sales:
                              | Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.
                      .accordion-item
                        h2#headingThree.accordion-header
                          button.accordion-button.collapsed.accordion-light-primary.txt-primary.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                            | What are the elements of web design?
                            i.svg-color(data-feather='chevron-down')
                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                          .accordion-body
                            p 
                              | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:
                              br
                              |--> Layout
                              br
                              |--> Images
                              br
                              |--> Visual hierarchy
                              br
                              |--> Color scheme
                              br
                              |--> Typography
                              br
                              |--> Navigation
                              br
                              |--> Readability
                              br
                              |--> Content
                      .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt;
                            | &lt;div class="accordion" id="accordionExample"&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="headingOne"&gt;
                            | &lt;button class="accordion-button collapsed accordion-light-primary txt-primary active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"&gt;What do web designers do?&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | Web design&lt;em class="txt-danger"&gt; identifies the goals&lt;/em&gt; of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="headingTwo"&gt;
                            | &lt;button class="accordion-button collapsed accordion-light-secondary txt-secondary active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"&gt;What is the use of web design?&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt; &lt;strong&gt; Search engine optimization: &lt;/strong&gt; Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.&lt;br&gt;&lt;br&gt;&lt;strong&gt; Mobile responsiveness:&lt;/strong&gt; Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.&lt;br&gt;&lt;br&gt;&lt;strong&gt; Improved sales:&lt;/strong&gt;Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="headingThree"&gt;
                            | &lt;button class="accordion-button collapsed accordion-light-warning txt-warning active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"&gt;What are the elements of web design?&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:&lt;br&gt;--&gt; Layout&lt;br&gt;--&gt; Images&lt;br&gt;--&gt; Visual hierarchy&lt;br&gt;--&gt; Color scheme&lt;br&gt;--&gt; Typography&lt;br&gt;--&gt; Navigation&lt;br&gt;--&gt; Readability&lt;br&gt;--&gt; Content&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
              .col-sm-12.col-xl-6
                .card.height-equal
                  .card-header
                    h4 Flush Accordion
                    p.f-m-light.mt-1
                      | Add 
                      code .accordion-flush
                      |  to remove the default
                      code  background-color
                      |  , some borders, and some rounded corners to render accordions edge-to-edge with their parent container.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body 
                    #accordionFlushExample.accordion.accordion-flush.dark-accordion
                      .accordion-item
                        h2#flush-headingOne.accordion-header
                          button.accordion-button.collapsed.txt-success.accordion-light-success.active(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                            | What is bootstrap?
                        #flush-collapseOne.accordion-collapse.collapse.show(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                          .accordion-body
                            p 
                              | --> Bootstrap is the most popular HTML, CSS and JavaScript framework for developing a responsive and mobile friendly website.
                              br
                              | --> It is absolutely free to download and use.
                      .accordion-item
                        h2#flush-headingTwo.accordion-header
                          button.accordion-button.collapsed.txt-success.accordion-light-success(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                            | Why Should You Use Bootstrap?
                        #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                          .accordion-body
                            p
                              | First and foremost, Bootstrap is easy to learn. Due to its popularity, plenty of tutorials and online forums are available to help you get started.
                              br
                              |One of the reasons why Bootstrap is so popular among web developers and web designers is that it has a simple file structure. Its files are compiled for easy access, and it only requires basic knowledge of HTML, CSS, and JS to modify them.
                              br
                              | You can also use themes for popular content management systems as learning tools. For example, most WordPress themes were developed using Bootstrap, which any beginner web developer can access. 
                              br
                              |To increase the site's page load time, Bootstrap minifies the CSS and JavaScript files. Additionally, Bootstrap maintains consistency across the syntax between websites and developers, which is ideal for team-based projects.
                      .accordion-item
                        h2#flush-headingThree.accordion-header
                          button.accordion-button.collapsed.txt-success.accordion-light-success(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                            | Bootstrap Image System
                        #flush-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree' data-bs-parent='#accordionFlushExample')
                          .accordion-body
                            p 
                              | Bootstrap handles the image display and responsiveness with its predefined HTML and CSS rules.
                              br
                              | Adding the .img-responsive class will automatically resize images based on the users' screen size. This will benefit your website’s performance, as reducing image sizes is part of the site optimization process.
                              br
                              | Bootstrap also provides additional classes like .img-circle and .img-rounded, which help to modify the images' shape.
                      .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#flush-according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#flush-according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt;
                            | &lt;div class="accordion accordion-flush" id="accordionFlushExample"&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="flush-headingOne"&gt;
                            | &lt;button class="accordion-button collapsed txt-success accordion-light-success active" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"&gt;What is bootstrap?&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse show" id="flush-collapseOne" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | --&gt; Bootstrap is the most popular HTML, CSS and JavaScript framework for developing a responsive and mobile friendly website.&lt;br&gt;--&gt; It is absolutely free to download and use.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="flush-headingTwo"&gt;
                            | &lt;button class="accordion-button collapsed txt-danger accordion-light-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"&gt;Why Should You Use Bootstrap?&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="flush-collapseTwo" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;First and foremost, Bootstrap is easy to learn. Due to its popularity, plenty of tutorials and online forums are available to help you get started.&lt;br&gt;One of the reasons why Bootstrap is so popular among web developers and web designers is that it has a simple file structure. Its files are compiled for easy access, and it only requires basic knowledge of HTML, CSS, and JS to modify them.&lt;br&gt;You can also use themes for popular content management systems as learning tools. For example, most WordPress themes were developed using Bootstrap, which any beginner web developer can access. &lt;br&gt;To increase the site's page load time, Bootstrap minifies the CSS and JavaScript files. Additionally, Bootstrap maintains consistency across the syntax between websites and developers, which is ideal for team-based projects.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="flush-headingThree"&gt;
                            | &lt;button class="accordion-button collapsed txt-primary accordion-light-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"&gt;Bootstrap Image System&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="flush-collapseThree" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | Bootstrap handles the image display and responsiveness with its predefined HTML and CSS rules.&lt;br&gt;Adding the .img-responsive class will automatically resize images based on the users' screen size. This will benefit your website&rsquo;s performance, as reducing image sizes is part of the site optimization process.&lt;br&gt;Bootstrap also provides additional classes like .img-circle and .img-rounded, which help to modify the images' shape.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
              .col-sm-12
                .card
                  .card-header
                    h4 Multiple Collapse Accordion
                    p.f-m-light.mt-1
                      | A 
                      code  &lt;button&gt;
                      |   or
                      code   &lt;a&gt;
                      |  can show and hide multiple elements by referencing them with a selector in its href or data-bs-target attribute. 
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body 
                    .common-flex
                      a.btn.btn-primary(data-bs-toggle='collapse' href='#multiCollapseExample1' role='button' aria-expanded='false' aria-controls='multiCollapseExample1') Toggle first element
                      button.btn.btn-warning(type='button' data-bs-toggle='collapse' data-bs-target='#multiCollapseExample2' aria-expanded='false' aria-controls='multiCollapseExample2') Toggle second element
                      button.btn.btn-success(type='button' data-bs-toggle='collapse' data-bs-target='.multi-collapse' aria-expanded='false' aria-controls='multiCollapseExample1 multiCollapseExample2') Toggle both elements
                    .row.d-flex
                      .col-xl-6
                        #multiCollapseExample1.collapse.multi-collapse.dark-accordion
                          .card.card-body.mt-3.mb-0.collapse-wrapper.accordion-light-primary
                            | The collapse JavaScript plugin is used to show and hide content. Buttons or anchors are used as triggers that are mapped to specific elements you toggle. Collapsing an element will animate the height from it's current value to 0. Given how CSS handles animations, you cannot use padding on a .collapse element. Instead, use the class as an independent wrapping element.
                      .col-xl-6
                        #multiCollapseExample2.collapse.multi-collapse.dark-accordion
                          .card.card-body.mt-3.mb-0.collapse-wrapper.accordion-light-warning
                            | This is the first item's accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.
                      .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#multiple-according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#multiple-according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt;
                            | &lt;div class="common-flex"&gt;&lt;a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"&gt;Toggle first element&lt;/a&gt;
                            | &lt;button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"&gt;Toggle second element&lt;/button&gt;
                            | &lt;button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"&gt;Toggle both elements&lt;/button&gt;
                            | &lt;/div&gt;
                            | &lt;div class="row d-flex"&gt;
                            | &lt;div class="col-xl-6"&gt;
                            | &lt;div class="collapse multi-collapse" id="multiCollapseExample1"&gt;
                            | &lt;div class="card card-body mt-3 mb-0 collapse-wrapper accordion-light-primary"&gt;The collapse JavaScript plugin is used to show and hide content. Buttons or anchors are used as triggers that are mapped to specific elements you toggle. Collapsing an element will animate the height from it's current value to 0. Given how CSS handles animations, you cannot use padding on a .collapse element. Instead, use the class as an independent wrapping element.&lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="col-xl-6"&gt;
                            | &lt;div class="collapse multi-collapse" id="multiCollapseExample2"&gt;
                            | &lt;div class="card card-body mt-3 mb-0 collapse-wrapper accordion-light-warning"&gt;This is the first item's accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.&lt;/div&gt;
                            | &lt;/div&gt;
              .col-xl-6.col-sm-12
                .card
                  .card-header
                    h4 With Icons Accordion
                    p.f-m-light.mt-1
                      | Use the 
                      code .accordion 
                      | & 
                      code feather icons
                      |  through change look icons accordion.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body.accordion-border 
                    #accordionPanelsStayOpenExample.accordion.dark-accordion
                      .accordion-item
                        h2#panelsStayOpen-headingOne.accordion-header
                          button.accordion-button.collapsed.gap-2.accordion-light-secondary.active.txt-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseOne' aria-expanded='false' aria-controls='panelsStayOpen-collapseOne')
                            i.svg-wrapper(data-feather='bell')
                            | Keep in touch
                            i.svg-color(data-feather='chevron-down')
                        #panelsStayOpen-collapseOne.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingOne')
                          .accordion-body
                            p 
                              em.txt-danger  " This page might not behave as expected because Windows Internet Explorer isn't configured to load unsigned ActiveX controls."
                              |  or "Allow this page to install an unsigned ActiveX Control? Doing so from untrusted sources may harm your computer." (Both phrased as conditions that may cause future problems.)
                      .accordion-item
                        h2#panelsStayOpen-headingTwo.accordion-header
                          button.accordion-button.collapsed.gap-2.accordion-light-secondary.active.txt-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseTwo' aria-expanded='false' aria-controls='panelsStayOpen-collapseTwo')
                            i.svg-wrapper(data-feather='message-circle')
                            | Chats with others
                            i.svg-color(data-feather='chevron-down')
                        #panelsStayOpen-collapseTwo.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingTwo')
                          .accordion-body
                            p 
                              | You get the same features in Chat and Chat in Gmail, but the integrated Gmail experience provides a central location to communicate with friends, family, or coworkers between emails.
                              br
                              strong  Chat:
                              |  Use when you prefer a dedicated chat experience and don't mind switching between different apps.
                      .accordion-item
                        h2#panelsStayOpen-headingThree.accordion-header
                          button.accordion-button.collapsed.gap-2.accordion-light-secondary.active.txt-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseThree' aria-expanded='false' aria-controls='panelsStayOpen-collapseThree')
                            i.svg-wrapper(data-feather='check-square')
                            | Right way to code 
                            i.svg-color(data-feather='chevron-down')
                        #panelsStayOpen-collapseThree.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingThree')
                          .accordion-body
                            p 
                              | 1) Decide on the indentation and keep it that way.
                              br
                              | 2) Make comments.
                              br
                              | 3) Consistent name scheme.
                              br
                              | 4) Don't repeat code.
                              br
                              | 5) Avoid writing long code lines.
                              br
                              | 6) Break down a big task into smaller chunks.
                              br
                              | 7) Organize your program into smaller files.
                              br
                              | 8) Write clever code that is also readable.
                      .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#icons-according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#icons-according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt;  
                            | &lt;div class="accordion" id="accordionPanelsStayOpenExample"&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="panelsStayOpen-headingOne"&gt;
                            | &lt;button class="accordion-button collapsed gap-2 accordion-light-primary active txt-primary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne"&gt;&lt;i class="svg-wrapper" data-feather="bell"&gt;&lt;/i&gt;Keep in touch&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="panelsStayOpen-collapseOne" aria-labelledby="panelsStayOpen-headingOne"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt; &lt;em class="txt-danger"&gt; " This page might not behave as expected because Windows Internet Explorer isn't configured to load unsigned ActiveX controls."&lt;/em&gt; or "Allow this page to install an unsigned ActiveX Control? Doing so from untrusted sources may harm your computer." (Both phrased as conditions that may cause future problems.)&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="panelsStayOpen-headingTwo"&gt;
                            | &lt;button class="accordion-button collapsed gap-2 accordion-light-warning active txt-warning" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"&gt;&lt;i class="svg-wrapper" data-feather="message-circle"&gt;&lt;/i&gt;Chats with others&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="panelsStayOpen-collapseTwo" aria-labelledby="panelsStayOpen-headingTwo"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | You get the same features in Chat and Chat in Gmail, but the integrated Gmail experience provides a central location to communicate with friends, family, or coworkers between emails.&lt;br&gt;&lt;strong&gt; Chat:&lt;/strong&gt; Use when you prefer a dedicated chat experience and don't mind switching between different apps.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item"&gt;
                            | &lt;h2 class="accordion-header" id="panelsStayOpen-headingThree"&gt;
                            | &lt;button class="accordion-button collapsed gap-2 accordion-light-secondary active txt-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"&gt;&lt;i class="svg-wrapper" data-feather="check-square"&gt;&lt;/i&gt;Right way to code &lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="panelsStayOpen-collapseThree" aria-labelledby="panelsStayOpen-headingThree"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | 1) Decide on the indentation and keep it that way.&lt;br&gt;2) Make comments.&lt;br&gt;3) Consistent name scheme.&lt;br&gt;4) Don't repeat code.&lt;br&gt;5) Avoid writing long code lines.&lt;br&gt;6) Break down a big task into smaller chunks.&lt;br&gt;7) Organize your program into smaller files.&lt;br&gt;8) Write clever code that is also readable.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
              .col-xl-6.col-sm-12
                .card
                  .card-header
                    h4 Left Side Bordered Accordion 
                    p.f-m-light.mt-1 
                      | make custom 
                      code .accordion-wrapper
                      |  class use to bring border-left side.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body 
                     #accordionExample.accordion.dark-accordion
                      .accordion-item.accordion-wrapper
                        h2#headingOne.accordion-header
                          button.accordion-button.collapsed.accordion-light-primary.txt-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseOne' aria-expanded='true' aria-controls='left-collapseOne')
                            | What do web designers do?
                            i.svg-color(data-feather='chevron-down')
                        #left-collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                          .accordion-body
                            p 
                              | Web design
                              em.txt-danger  identifies the goals
                              |  of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements.
                      .accordion-item.accordion-wrapper
                        h2#headingTwo.accordion-header
                          button.accordion-button.collapsed.accordion-light-primary.txt-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseTwo' aria-expanded='false' aria-controls='left-collapseTwo')
                            | What is the use of web design?
                            i.svg-color(data-feather='chevron-down')
                        #left-collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                          .accordion-body
                            p 
                              strong  Search engine optimization: 
                              |  Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.
                              br
                              br
                              strong  Mobile responsiveness:
                              |  Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.
                              br
                              br
                              strong  Improved sales:
                              | Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.
                      .accordion-item.accordion-wrapper
                        h2#headingThree.accordion-header
                          button.accordion-button.collapsed.accordion-light-primary.txt-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseThree' aria-expanded='false' aria-controls='left-collapseThree')
                            | What are the elements of web design?
                            i.svg-color(data-feather='chevron-down')
                        #left-collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                          .accordion-body
                            p 
                              | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:
                              br
                              |--> Layout
                              br
                              |--> Images
                              br
                              |--> Visual hierarchy
                              br
                              |--> Color scheme
                              br
                              |--> Typography
                              br
                              |--> Navigation
                              br
                              |--> Readability
                              br
                              |--> Content
                      .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#left-according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#left-according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt; 
                            | &lt;div class="accordion" id="accordionExample"&gt;
                            | &lt;div class="accordion-item accordion-wrapper"&gt;
                            | &lt;h2 class="accordion-header" id="headingOne"&gt;
                            | &lt;button class="accordion-button collapsed accordion-light-primary txt-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"&gt;What do web designers do?&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | Web design&lt;em class="txt-danger"&gt; identifies the goals&lt;/em&gt; of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item accordion-wrapper"&gt;
                            | &lt;h2 class="accordion-header" id="headingTwo"&gt;
                            | &lt;button class="accordion-button collapsed accordion-light-primary txt-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"&gt;What is the use of web design?&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt; &lt;strong&gt; Search engine optimization: &lt;/strong&gt; Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.&lt;br&gt;&lt;br&gt;&lt;strong&gt; Mobile responsiveness:&lt;/strong&gt; Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.&lt;br&gt;&lt;br&gt;&lt;strong&gt; Improved sales:&lt;/strong&gt;Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;div class="accordion-item accordion-wrapper"&gt;
                            | &lt;h2 class="accordion-header" id="headingThree"&gt;
                            | &lt;button class="accordion-button collapsed accordion-light-primary txt-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"&gt;What are the elements of web design?&lt;i class="svg-color" data-feather="chevron-down"&gt;&lt;/i&gt;&lt;/button&gt;
                            | &lt;/h2&gt;
                            | &lt;div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample"&gt;
                            | &lt;div class="accordion-body"&gt;
                            | &lt;p&gt;
                            | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:&lt;br&gt;--&gt; Layout&lt;br&gt;--&gt; Images&lt;br&gt;--&gt; Visual hierarchy&lt;br&gt;--&gt; Color scheme&lt;br&gt;--&gt; Typography&lt;br&gt;--&gt; Navigation&lt;br&gt;--&gt; Readability&lt;br&gt;--&gt; Content&lt;/p&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt; 
              .col-md-6.col-sm-12
                .card
                  .card-header
                    h4 Horizontal Accordion
                    p.f-m-light.mt-1
                      | Add the 
                      code .collapse-horizontal
                      |  modifier class to transition the width instead of height and set a width on the immediate child element.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body
                    .common-flex
                      button.btn.btn-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseWidthExample' aria-expanded='false' aria-controls='collapseWidthExample')
                        | Toggle width collapse
                    .row 
                      .col-sm-5
                        #collapseWidthExample.collapse.collapse-horizontal.mt-3
                          .card.card-body.bg-secondary-light.accordion-h-space.mb-0
                            | The collapse plugin also supports horizontal collapsing. Add the .collapse-horizontal modifier class to transition the width instead of height and set a width on the immediate child element. Feel free to write your own custom Sass, use inline styles, or use our width utilities.
                      .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#horizontal-according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#horizontal-according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt;
                            | &lt;div class="common-flex"&gt;
                            | &lt;button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"&gt;Toggle width collapse&lt;/button&gt;
                            | &lt;/div&gt;
                            | &lt;div class="row"&gt;
                            | &lt;div class="col-sm-5"&gt;
                            | &lt;div class="collapse collapse-horizontal mt-3" id="collapseWidthExample"&gt;
                            | &lt;div class="card card-body bg-secondary-light accordion-h-space mb-0"&gt;The collapse plugin also supports horizontal collapsing. Add the .collapse-horizontal modifier class to transition the width instead of height and set a width on the immediate child element. Feel free to write your own custom Sass, use inline styles, or use our width utilities.&lt;/div&gt;
                            | &lt;/div&gt;
                            | &lt;/div&gt; 
              .col-md-6.col-sm-12
                .card
                  .card-header
                    h4 Collapse Accordion
                    p.f-m-light.mt-1
                      | you can also use a link with the href attribute
                      code (and a role="button").
                      | In both cases, the 
                      code data-bs-toggle="collapse"
                      | is required.
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.fa.fa-spin.fa-cog
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card  
                  .card-body
                    p.common-flex
                      a.btn.btn-dark(data-bs-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
                        | Link with href
                      button.btn.btn-dark(type='button' data-bs-toggle='collapse' data-bs-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample')
                        | Button with data-bs-target
                    #collapseExample.collapse.btn-dark
                      .card.card-body.mb-0.dark-accordion
                        | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#collapse-according', title='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#collapse-according
                            | &lt;!--You can use .accordion-collapse with .show class then show accordions.--&gt;
                            | &lt;p class="common-flex"&gt;&lt;a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"&gt;Link with href&lt;/a&gt;
                            | &lt;button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"&gt;Button with data-bs-target&lt;/button&gt;
                            | &lt;/p&gt;
                            | &lt;div class="collapse btn-dark" id="collapseExample"&gt;
                            | &lt;div class="card card-body mb-0"&gt;Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.&lt;/div&gt;
                            | &lt;/div&gt;
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
