- var datatable             = true;
- var page_datatable        = true;
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-6
                  h3
                    | API DataTables

                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Data Tables
                    li.breadcrumb-item.active API DataTables
          // Container-fluid starts
          .container-fluid
            .row
              // Add rows  Starts
              .col-sm-12
                .card
                  .card-header.pb-0.card-no-border
                    h3.mb-3 Add rows 
                    span
                      | New rows can be added to a DataTable using the
                      code.api(title='DataTables API method') row.add()
                      |  API method. Simply call the API function with the data for the new row (be it an array or object). Multiple rows
                      |                                 can be added using the
                      code.api(title='DataTables API method') rows.add()
                      |  method (note
                      |                                 the plural). Data can likewise be updated with the 
                      code.api(title='DataTables API method') row().data()
                      |  and 
                      code.api(title='DataTables API method') row().remove()
                      |  methods.
                    span
                      | Note that in order to see the new row in the table you must call the
                      code.api(title='DataTables API method') draw()
                      |  method, which is easily done through the chaining that the DataTables API employs.
                  .card-body
                    button#addRow.btn.btn-primary.mb-3 Add new row
                    .table-responsive
                      table#API-1.display
                        thead
                          tr
                            th Column 1
                            th Column 2
                            th Column 3
                            th Column 4
                            th Column 5
                        tfoot
                          tr
                            th Column 1
                            th Column 2
                            th Column 3
                            th Column 4
                            th Column 5
              // Add rows Ends

              // Child rows (show extra / detailed information) Starts
              .col-sm-12
                .card
                  .card-header.pb-0.card-no-border
                    h3.mb-3 Child rows (show extra / detailed information) 
                    span
                      | The DataTables API has a number of methods for attaching child rows to a parent row in the DataTable. This can be used to show additional information about a row, useful for cases where you wish to convey more information about a row than there is space for in the host table.
                  .card-body
                    .table-responsive
                      table#API-chield-row.display
                        thead
                          tr
                            th
                            th Name
                            th Position
                            th Office
                            th Salary
                        tfoot
                          tr
                            th
                            th Name
                            th Position
                            th Office
                            th Salary
              // Child rows (show extra / detailed information) Ends

              // Row Selection And Deletion (Single Row) Starts
              .col-sm-12
                .card
                  .card-header.pb-0.card-no-border
                    h3.mb-3 Row Selection And Deletion (Single Row)
                    span
                      | It can be useful to provide the user with the option to select rows in a DataTable. This can be done by using a click event to add / remove a class on the
                      | table rows. The 
                      code.api(title='DataTables API method') rows().data()
                      | method can then
                      |                                       be used to get the data for the selected rows. In this case it is simply counting the number of selected rows, but much more complex interactions can easily be
                      |                                       developed.
                  .card-body
                    .table-responsive
                      button#single-row-delete-btn.btn.btn-secondary.mb-3 Delete Row
                      table#row-select-delete.display
                        thead
                          tr
                            th Employee Name
                            th Job Designation
                            th Company Name
                            th Invoice No.
                            th Credit/Debit
                            th Date
                            th Priority
                            th Budget
                            th Action
                        tbody
                          tr
                            td Tiger Nixon
                            td System Architect
                            td Tata Co.
                            td #AS61
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2011/04/25
                            td
                              span.badge.badge-light-warning Medium
                            td $320.800,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Garrett Winters
                            td Accountant
                            td Edinburgh
                            td #FG63
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2011/07/25
                            td
                              span.badge.badge-light-danger Urgent
                            td $170.750,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Ashton Cox
                            td Junior Technical Author
                            td Mphasis Ltd
                            td #GH66
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2009/01/12
                            td
                              span.badge.badge-light-warning Medium
                            td $86.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td #UH22
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2012/03/29
                            td
                              span.badge.badge-light-success Low
                            td $433.060,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Airi Satou
                            td Accountant
                            td Google Inc.
                            td #TY33
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2008/11/28
                            td
                              span.badge.badge-light-danger Urgent
                            td $162.700,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Brielle Williamson
                            td Integration Specialist
                            td Microsoft
                            td #TS61
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2012/12/02
                            td
                              span.badge.badge-light-success Low
                            td $372.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Herrod Chandler
                            td Sales Assistant
                            td Google Co.
                            td #GF59
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2012/08/06
                            td
                              span.badge.badge-light-warning Medium
                            td $137.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Rhona Davidson
                            td Integration Specialist
                            td Tokyo
                            td #FT55
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2010/10/14
                            td
                              span.badge.badge-light-warning Medium
                            td $327.900,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Colleen Hurst
                            td Javascript Developer
                            td Google Co.
                            td #NB39
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 2.8%
                            td 2009/09/15
                            td
                              span.badge.badge-light-warning Medium
                            td $205.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Sonya Frost
                            td Software Engineer
                            td Edinburgh
                            td #BH23
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2008/12/13
                            td
                              span.badge.badge-light-danger Urgent
                            td $103.600,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Jena Gaines
                            td Office Manager
                            td Tata Co.
                            td #HN30
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2008/12/19
                            td
                              span.badge.badge-light-primary High
                            td $90.560,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Quinn Flynn
                            td Support Lead
                            td Edinburgh
                            td #YH22
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2013/03/03
                            td
                              span.badge.badge-light-danger Urgent
                            td $342.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Charde Marshall
                            td Regional Director
                            td Google Co.
                            td #FV36
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2008/10/16
                            td
                              span.badge.badge-light-success Low
                            td $470.600,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Haley Kennedy
                            td Senior Marketing Designer
                            td Tata Co.
                            td #TF43
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2012/12/18
                            td
                              span.badge.badge-light-success Low
                            td $313.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Tatyana Fitzpatrick
                            td Regional Director
                            td Infosys Ltd.
                            td #DF19
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2010/03/17
                            td
                              span.badge.badge-light-warning Medium
                            td $385.750,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Michael Silva
                            td Marketing Designer
                            td Infosys Ltd.
                            td #HD66
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2012/11/27
                            td
                              span.badge.badge-light-warning Medium
                            td $198.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Paul Byrd
                            td Chief Financial Officer (CFO)
                            td New York
                            td #NH64
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 9.8%
                            td 2010/06/09
                            td
                              span.badge.badge-light-danger Urgent
                            td $725.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Gloria Little
                            td Systems Administrator
                            td New York
                            td #MN59
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2009/04/10
                            td
                              span.badge.badge-light-danger Urgent
                            td $237.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Bradley Greer
                            td Software Engineer
                            td Tata Co.
                            td #JH41
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 9.8%
                            td 2012/10/13
                            td
                              span.badge.badge-light-primary High
                            td $132.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Dai Rios
                            td Personnel Lead
                            td Edinburgh
                            td #YT35
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2012/09/26
                            td
                              span.badge.badge-light-success Low
                            td $217.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Jenette Caldwell
                            td Development Lead
                            td New York
                            td
                              span.badge.badge-light-success Low
                            td #FG30
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2011/09/03
                            td
                              span.badge.badge-light-danger Urgent
                            td $345.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Yuri Berry
                            td Chief Marketing Officer (CMO)
                            td New York
                            td #VB40
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 5.6%
                            td 2009/06/25
                            td
                              span.badge.badge-light-warning Medium
                            td $675.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Caesar Vance
                            td Pre-Sales Support
                            td New York
                            td #CV21
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2011/12/12
                            td
                              span.badge.badge-light-success Low
                            td $106.450,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Doris Wilder
                            td Sales Assistant
                            td Sidney
                            td #BH23
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 5.6%
                            td 2010/09/20
                            td
                              span.badge.badge-light-primary High
                            td $85.600,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Angelica Ramos
                            td Chief Executive Officer (CEO)
                            td Tata Co.
                            td #VC47
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2009/10/09
                            td
                              span.badge.badge-light-success Low
                            td $1.200.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Gavin Joyce
                            td Developer
                            td Edinburgh
                            td #TH42
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 9.8%
                            td 2010/12/22
                            td
                              span.badge.badge-light-danger Urgent
                            td $92.575,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Jennifer Chang
                            td Regional Director
                            td Singapore
                            td #BN28
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2010/11/14
                            td
                              span.badge.badge-light-danger Urgent
                            td $357.650,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Brenden Wagner
                            td Software Engineer
                            td Google Co.
                            td #CV28
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2011/06/07
                            td
                              span.badge.badge-light-warning Medium
                            td $206.850,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Fiona Green
                            td Chief Operating Officer (COO)
                            td Infosys Ltd.
                            td #GF48
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 9.8%
                            td 2010/03/11
                            td
                              span.badge.badge-light-primary High
                            td $850.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Shou Itou
                            td Regional Marketing
                            td Tokyo
                            td #BF20
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 5.6%
                            td 2011/08/14
                            td
                              span.badge.badge-light-success Low
                            td $163.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Michelle House
                            td Integration Specialist
                            td Sidney
                            td #DF37
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2011/06/02
                            td
                              span.badge.badge-light-primary High
                            td $95.400,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Suki Burks
                            td Developer
                            td Infosys Ltd.
                            td #ER53
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2009/10/22
                            td
                              span.badge.badge-light-danger Urgent
                            td $114.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Prescott Bartlett
                            td Technical Author
                            td Tata Co.
                            td #DF27
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 5.6%
                            td 2011/05/07
                            td
                              span.badge.badge-light-warning Medium
                            td $145.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Gavin Cortez
                            td Team Leader
                            td Google Co.
                            td #SW22
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 5.6%
                            td 2008/10/26
                            td
                              span.badge.badge-light-danger Urgent
                            td $235.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Martena Mccray
                            td Post-Sales support
                            td Edinburgh
                            td #ED46
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2011/03/09
                            td
                              span.badge.badge-light-primary High
                            td $324.050,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Unity Butler
                            td Marketing Designer
                            td Infosys Ltd.
                            td #ED47
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 9.8%
                            td 2009/12/09
                            td
                              span.badge.badge-light-primary High
                            td $85.675,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Howard Hatfield
                            td Office Manager
                            td Google Co.
                            td #WS51
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 1.4%
                            td 2008/12/16
                            td
                              span.badge.badge-light-warning Medium
                            td $164.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Hope Fuentes
                            td Secretary
                            td Infosys Ltd.
                            td #RG41
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 5.6%
                            td 2010/02/12
                            td
                              span.badge.badge-light-success Low
                            td $109.850,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Vivian Harrell
                            td Financial Controller
                            td Infosys Ltd.
                            td #TY62
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2009/02/14
                            td
                              span.badge.badge-light-warning Medium
                            td $452.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Timothy Mooney
                            td Office Manager
                            td Tata Co.
                            td #GH37
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 9.8%
                            td 2008/12/11
                            td
                              span.badge.badge-light-success Low
                            td $136.200,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Jackson Bradshaw
                            td Director
                            td New York
                            td #YU65
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.8%
                            td 2008/09/26
                            td
                              span.badge.badge-light-primary High
                            td $645.750,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Olivia Liang
                            td Support Engineer
                            td Singapore
                            td #GH64
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2011/02/03
                            td
                              span.badge.badge-light-warning Medium
                            td $234.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Bruno Nash
                            td Software Engineer
                            td Tata Co.
                            td #UY38
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 1.4%
                            td 2011/05/03
                            td
                              span.badge.badge-light-warning Medium
                            td $163.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Sakura Yamamoto
                            td Support Engineer
                            td Tokyo
                            td #RT37
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2009/08/19
                            td
                              span.badge.badge-light-warning Medium
                            td $139.575,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Thor Walton
                            td Developer
                            td New York
                            td #WE61
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 1.4%
                            td 2013/08/11
                            td
                              span.badge.badge-light-success Low
                            td $98.540,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Finn Camacho
                            td Support Engineer
                            td Google Co.
                            td #YU47
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2009/07/07
                            td
                              span.badge.badge-light-success Low
                            td $87.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Serge Baldwin
                            td Data Coordinator
                            td Singapore
                            td #QW64
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 1.4%
                            td 2012/04/09
                            td
                              span.badge.badge-light-primary High
                            td $138.575,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Zenaida Frank
                            td Software Engineer
                            td New York
                            td #WE63
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 1.4%
                            td 2010/01/04
                            td
                              span.badge.badge-light-primary High
                            td $125.250,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Zorita Serrano
                            td Software Engineer
                            td Google Co.
                            td #ER56
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 1.4%
                            td 2012/06/01
                            td
                              span.badge.badge-light-warning Medium
                            td $115.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Jennifer Acosta
                            td Junior Javascript Developer
                            td Edinburgh
                            td #RT43
                            td 
                              i.icofont.icofont-arrow-up.me-1.text-success 2.8%
                            td 2013/02/01
                            td
                              span.badge.badge-light-warning Medium
                            td $75.650,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Cara Stevens
                            td Sales Assistant
                            td New York
                            td #TY46
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2011/12/06
                            td
                              span.badge.badge-light-primary High
                            td $145.600,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Hermione Butler
                            td Regional Director
                            td Tata Co.
                            td #QA47
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2011/03/21
                            td
                              span.badge.badge-light-warning Medium
                            td $356.250,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Lael Greer
                            td Systems Administrator
                            td Tata Co.
                            td #QS21
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2009/02/27
                            td
                              span.badge.badge-light-warning Medium
                            td $103.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Jonas Alexander
                            td Developer
                            td Infosys Ltd.
                            td #ED30
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2010/07/14
                            td
                              span.badge.badge-light-primary High
                            td $86.500,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Shad Decker
                            td Regional Director
                            td Edinburgh
                            td #SD51
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2008/11/13
                            td
                              span.badge.badge-light-success Low
                            td $183.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Michael Bruce
                            td Javascript Developer
                            td Singapore
                            td #RF29
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2011/06/27
                            td
                              span.badge.badge-light-success Low
                            td $183.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                          tr
                            td Donna Snider
                            td Customer Support
                            td New York
                            td #GD27
                            td 
                              i.icofont.icofont-arrow-down.me-1.text-danger 2.5%
                            td 2011/01/25
                            td
                              span.badge.badge-light-primary High
                            td $112.000,00
                            td 
                              ul.action  
                                li.edit 
                                  a(href="#")
                                    i.icon-pencil-alt
                                li.delete
                                  a(href="#")
                                    i.icon-trash
                        tfoot
                          tr
                            th Employee Name
                            th Job Designation
                            th Company Name
                            th Invoice No.
                            th Credit/Debit
                            th Date
                            th Priority
                            th Budget
                            th Action

              // Row Selection And Deletion (Single Row) Ends
              // Multiple table control elements  Starts
              .col-sm-12
                .card
                  .card-header.pb-0.card-no-border
                    h3.mb-3 Custom filtering - range search
                    span
                      | This example shows a search being performed on the age column in the data, based upon two inputs.
                  .card-body
                    .table-responsive.dataTables_wrapper.me-0
                      table
                        tbody.dataTables_filter
                          tr
                            td Minimum age:
                            td
                              input#min.form-control(type='search', name='min')
                          tr  
                            td Maximum age:
                            td
                              input#max.form-control(type='search', name='max')
                    .table-responsive.user-datatable
                      table#datatable-range.display
                        thead
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
                        tbody
                          tr
                            td 
                              img.img-fluid.table-avtar(src="../assets/images/user/2.png" alt="")
                              | Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                            td $320,800
                          tr
                            td 
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Garrett Winters
                            td Accountant
                            td Tokyo
                            td 63
                            td 2011/07/25
                            td $170,750
                          tr
                            td 
                              img.img-fluid.table-avtar(src="../assets/images/user/11.png" alt="")
                              | Ashton Cox
                            td Junior Technical Author
                            td San Francisco
                            td 66
                            td 2009/01/12
                            td $86,000
                          tr
                            td 
                              img.img-fluid.table-avtar(src="../assets/images/user/3.png" alt="")
                              | Cedric Kelly
                            td Senior Javascript Developer
                            td Edinburgh
                            td 22
                            td 2012/03/29
                            td $433,060
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Airi Satou
                            td Accountant
                            td Tokyo
                            td 33
                            td 2008/11/28
                            td $162,700
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Brielle Williamson
                            td Integration Specialist
                            td New York
                            td 61
                            td 2012/12/02
                            td $372,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Herrod Chandler
                            td Sales Assistant
                            td San Francisco
                            td 59
                            td 2012/08/06
                            td $137,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Rhona Davidson
                            td Integration Specialist
                            td Tokyo
                            td 55
                            td 2010/10/14
                            td $327,900
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Colleen Hurst
                            td Javascript Developer
                            td San Francisco
                            td 39
                            td 2009/09/15
                            td $205,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Sonya Frost
                            td Software Engineer
                            td Edinburgh
                            td 23
                            td 2008/12/13
                            td $103,600
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Jena Gaines
                            td Office Manager
                            td London
                            td 30
                            td 2008/12/19
                            td $90,560
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Quinn Flynn
                            td Support Lead
                            td Edinburgh
                            td 22
                            td 2013/03/03
                            td $342,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Charde Marshall
                            td Regional Director
                            td San Francisco
                            td 36
                            td 2008/10/16
                            td $470,600
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Haley Kennedy
                            td Senior Marketing Designer
                            td London
                            td 43
                            td 2012/12/18
                            td $313,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Tatyana Fitzpatrick
                            td Regional Director
                            td London
                            td 19
                            td 2010/03/17
                            td $385,750
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Michael Silva
                            td Marketing Designer
                            td London
                            td 66
                            td 2012/11/27
                            td $198,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Paul Byrd
                            td Chief Financial Officer (CFO)
                            td New York
                            td 64
                            td 2010/06/09
                            td $725,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Gloria Little
                            td Systems Administrator
                            td New York
                            td 59
                            td 2009/04/10
                            td $237,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Bradley Greer
                            td Software Engineer
                            td London
                            td 41
                            td 2012/10/13
                            td $132,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Dai Rios
                            td Personnel Lead
                            td Edinburgh
                            td 35
                            td 2012/09/26
                            td $217,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Jenette Caldwell
                            td Development Lead
                            td New York
                            td 30
                            td 2011/09/03
                            td $345,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Yuri Berry
                            td Chief Marketing Officer (CMO)
                            td New York
                            td 40
                            td 2009/06/25
                            td $675,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Caesar Vance
                            td Pre-Sales Support
                            td New York
                            td 21
                            td 2011/12/12
                            td $106,450
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Doris Wilder
                            td Sales Assistant
                            td Sidney
                            td 23
                            td 2010/09/20
                            td $85,600
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Angelica Ramos
                            td Chief Executive Officer (CEO)
                            td London
                            td 47
                            td 2009/10/09
                            td $1,200,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Gavin Joyce
                            td Developer
                            td Edinburgh
                            td 42
                            td 2010/12/22
                            td $92,575
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Jennifer Chang
                            td Regional Director
                            td Singapore
                            td 28
                            td 2010/11/14
                            td $357,650
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Brenden Wagner
                            td Software Engineer
                            td San Francisco
                            td 28
                            td 2011/06/07
                            td $206,850
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Fiona Green
                            td Chief Operating Officer (COO)
                            td San Francisco
                            td 48
                            td 2010/03/11
                            td $850,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Shou Itou
                            td Regional Marketing
                            td Tokyo
                            td 20
                            td 2011/08/14
                            td $163,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Michelle House
                            td Integration Specialist
                            td Sidney
                            td 37
                            td 2011/06/02
                            td $95,400
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Suki Burks
                            td Developer
                            td London
                            td 53
                            td 2009/10/22
                            td $114,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Prescott Bartlett
                            td Technical Author
                            td London
                            td 27
                            td 2011/05/07
                            td $145,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Gavin Cortez
                            td Team Leader
                            td San Francisco
                            td 22
                            td 2008/10/26
                            td $235,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Martena Mccray
                            td Post-Sales support
                            td Edinburgh
                            td 46
                            td 2011/03/09
                            td $324,050
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Unity Butler
                            td Marketing Designer
                            td San Francisco
                            td 47
                            td 2009/12/09
                            td $85,675
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Howard Hatfield
                            td Office Manager
                            td San Francisco
                            td 51
                            td 2008/12/16
                            td $164,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Hope Fuentes
                            td Secretary
                            td San Francisco
                            td 41
                            td 2010/02/12
                            td $109,850
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Vivian Harrell
                            td Financial Controller
                            td San Francisco
                            td 62
                            td 2009/02/14
                            td $452,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Timothy Mooney
                            td Office Manager
                            td London
                            td 37
                            td 2008/12/11
                            td $136,200
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Jackson Bradshaw
                            td Director
                            td New York
                            td 65
                            td 2008/09/26
                            td $645,750
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Olivia Liang
                            td Support Engineer
                            td Singapore
                            td 64
                            td 2011/02/03
                            td $234,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Bruno Nash
                            td Software Engineer
                            td London
                            td 38
                            td 2011/05/03
                            td $163,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Sakura Yamamoto
                            td Support Engineer
                            td Tokyo
                            td 37
                            td 2009/08/19
                            td $139,575
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Thor Walton
                            td Developer
                            td New York
                            td 61
                            td 2013/08/11
                            td $98,540
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Finn Camacho
                            td Support Engineer
                            td San Francisco
                            td 47
                            td 2009/07/07
                            td $87,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Serge Baldwin
                            td Data Coordinator
                            td Singapore
                            td 64
                            td 2012/04/09
                            td $138,575
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Zenaida Frank
                            td Software Engineer
                            td New York
                            td 63
                            td 2010/01/04
                            td $125,250
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Zorita Serrano
                            td Software Engineer
                            td San Francisco
                            td 56
                            td 2012/06/01
                            td $115,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Jennifer Acosta
                            td Junior Javascript Developer
                            td Edinburgh
                            td 43
                            td 2013/02/01
                            td $75,650
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Cara Stevens
                            td Sales Assistant
                            td New York
                            td 46
                            td 2011/12/06
                            td $145,600
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Hermione Butler
                            td Regional Director
                            td London
                            td 47
                            td 2011/03/21
                            td $356,250
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Lael Greer
                            td Systems Administrator
                            td London
                            td 21
                            td 2009/02/27
                            td $103,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Jonas Alexander
                            td Developer
                            td San Francisco
                            td 30
                            td 2010/07/14
                            td $86,500
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Shad Decker
                            td Regional Director
                            td Edinburgh
                            td 51
                            td 2008/11/13
                            td $183,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Michael Bruce
                            td Javascript Developer
                            td Singapore
                            td 29
                            td 2011/06/27
                            td $183,000
                          tr
                            td
                              img.img-fluid.table-avtar(src="../assets/images/user/7.jpg" alt="")
                              | Donna Snider
                            td Customer Support
                            td New York
                            td 27
                            td 2011/01/25
                            td $112,000
                        tfoot
                          tr
                            th Name
                            th Position
                            th Office
                            th Age
                            th Start date
                            th Salary
              // Multiple table control elements Ends
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
