@model IEnumerable<AlexBlogMVC.BackEnd.Models.News>

@{
    ViewData["Title"] = "最新消息";
}

<div class="auto-container">
            
            @foreach (var item in Model)
            {
                <!--News Style Four-->
                    <div class="news-style-four">
                        <div class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                            <div class="clearfix">
                                <div class="image-column pull-right col-lg-6 col-sm-6 col-md-5 col-xs-12">
                                <figure class="image-box"><a href="blog-single.html"><img src="@Url.Content("~/uploads/News/" + item.NewsImg1)" alt=""></a></figure>
                                </div>
                                <div class="content-column pull-left col-lg-6 col-sm-6 col-md-5 col-xs-12">
                                    <div class="inner">
                                        <div class="info"><a href="#" class="cat-name">Agency</a>     <span class="date">@item.CreateTime</span></div>
                                        <h3><a href="blog-single.html">@item.NewsTitle</a></h3>
                                        <div class="text">@item.NewsDescription ..</div>
                                        <a href="blog-single.html" class="theme-btn btn-style-two">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }

@*            <!--News Style Four-->
            <div class="news-style-four">
                <div class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="clearfix">
                        <div class="image-column pull-right col-lg-6 col-sm-6 col-md-5 col-xs-12">
                    <figure class="image-box"><a href="blog-single.html"><img src="~/FrontEnd/images/resource/blog-image-7.jpg" alt=""></a></figure>
                        </div>
                        <div class="content-column pull-left col-lg-6 col-sm-6 col-md-5 col-xs-12">
                            <div class="inner">
                                <div class="info"><a href="#" class="cat-name">Agency</a>     <span class="date">19.02.2017</span></div>
                                <h3><a href="blog-single.html">The Blog title should be “Bold” all the way</a></h3>
                                <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is..</div>
                                <a href="blog-single.html" class="theme-btn btn-style-two">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--News Style Four-->
            <div class="news-style-four">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 0ms; animation-name: none;">
                    <div class="clearfix">
                        <div class="image-column pull-right col-lg-6 col-sm-6 col-md-5 col-xs-12">
                    <figure class="image-box"><a href="blog-single.html"><img src="~/FrontEnd/images/resource/blog-image-8.jpg" alt=""></a></figure>
                        </div>
                        <div class="content-column pull-left col-lg-6 col-sm-6 col-md-5 col-xs-12">
                            <div class="inner">
                                <div class="info"><a href="#" class="cat-name">Agency</a>     <span class="date">19.02.2017</span></div>
                                <h3><a href="blog-single.html">The Blog title should be “Bold” all the way</a></h3>
                                <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is..</div>
                                <a href="blog-single.html" class="theme-btn btn-style-two">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--News Style Four-->
            <div class="news-style-four">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 0ms; animation-name: none;">
                    <div class="clearfix">
                        <div class="image-column pull-right col-lg-6 col-sm-6 col-md-5 col-xs-12">
                    <figure class="image-box"><a href="blog-single.html"><img src="~/FrontEnd/images/resource/blog-image-9.jpg" alt=""></a></figure>
                        </div>
                        <div class="content-column pull-left col-lg-6 col-sm-6 col-md-5 col-xs-12">
                            <div class="inner">
                                <div class="info"><a href="#" class="cat-name">Agency</a>     <span class="date">19.02.2017</span></div>
                                <h3><a href="blog-single.html">The Blog title should be “Bold” all the way</a></h3>
                                <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is..</div>
                                <a href="blog-single.html" class="theme-btn btn-style-two">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            <!--Posts Nav-->
            <div class="posts-nav clearfix">
                <div class="pull-left"><a href="#" class="theme-btn prev-post btn-style-one">Previous Posts</a></div>
                <div class="pull-right"><a href="#" class="theme-btn next-post btn-style-one">Next Posts</a></div>
            </div>

</div>