
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Cuba admin is super flexible, powerful, clean & modern responsive bootstrap 5 admin template with unlimited possibilities.')
  meta(name='keywords', content='admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app')
  meta(name='author', content='pixelstrap')
  link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
  link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
  title Cuba - Premium Admin Template
  // Google font
  link(href='https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap', rel='stylesheet' )
  if landing_font 
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap' rel='stylesheet')
    

  //- // Font Awesome
  link(rel='stylesheet', type='text/css', href='../assets/css/font-awesome.css')

  link(rel="icon" href="../assets/svg/landing-icons.svg") 
  link(rel='stylesheet', type='text/css', href='../assets/css/vendors/slick.css')
  link(rel='stylesheet', type='text/css', href='../assets/css/vendors/slick-theme.css')
  link(rel='stylesheet', type='text/css', href='../assets/css/vendors/animate.css')
  // Bootstrap css
  link(rel='stylesheet', type='text/css', href='../assets/css/vendors/bootstrap.css')

  // App css
  link(rel='stylesheet', type='text/css', href='../assets/css/style.css')

  // Responsive css
  link(rel='stylesheet', type='text/css', href='../assets/css/responsive.css')
