// Page Header Start
.page-header
  .header-wrapper.row.m-0
    form(action='#', method='get').form-inline.search-full.col
      .form-group.w-100
        .Typeahead.Typeahead--twitterUsers
          .u-posRelative
            input.demo-input.Typeahead-input.form-control-plaintext.w-100(type='text' placeholder='Search Cuba ..' name='q' title='' autofocus)
            .spinner-border.Typeahead-spinner(role='status')
              span.sr-only Loading...
            i(data-feather='x').close-search
          .Typeahead-menu
    .header-logo-wrapper.col-auto.p-0
      .logo-wrapper
        a(href='index.html')
          img.img-fluid(src='../assets/images/logo/logo.png', alt='')
      .toggle-sidebar
        i.status_toggle.middle(data-feather='align-center').sidebar-toggle

    .left-header.col-xxl-5.col-xl-6.col-lg-5.col-md-4.col-sm-3.p-0
      .notification-slider
        div.d-flex.h-100 
          img(src="../assets/images/giftools.gif" alt="gif")
          h6.mb-0.f-w-400
            span.font-primary Don't Miss Out! 
            span.f-light Out new update has been release.
          i.icon-arrow-top-right.f-light
        div.d-flex.h-100
          img(src="../assets/images/giftools.gif" alt="gif")
          h6.mb-0.f-w-400
            span.f-light Something you love is now on sale! 
          a.ms-1(href="https://1.envato.market/3GVzd" target="_blank") Buy now !
          

    .nav-right.col-xxl-7.col-xl-6.col-md-7.col-8.pull-right.right-header.p-0.ms-auto
      ul.nav-menus
        li.language-nav
          .translate_wrapper
            .current_lang
              .lang
                i.flag-icon.flag-icon-us
                span.lang-txt EN                               
            .more_lang
              .lang.selected(data-value='en')
                i.flag-icon.flag-icon-us
                span.lang-txt
                  | English
                  span  (US)
              .lang(data-value='de')
                i.flag-icon.flag-icon-de
                span.lang-txt Deutsch
              .lang(data-value='es')
                i.flag-icon.flag-icon-es
                span.lang-txt Español
              .lang(data-value='fr')
                i.flag-icon.flag-icon-fr
                span.lang-txt Français
              .lang(data-value='pt')
                i.flag-icon.flag-icon-pt
                span.lang-txt
                  | Português
                  span  (BR)
              .lang(data-value='cn')
                i.flag-icon.flag-icon-cn
                span.lang-txt 简体中文
              .lang(data-value='ae')
                i.flag-icon.flag-icon-ae
                span.lang-txt
                  | لعربية 
                  span  (ae)
        li                          
          span.header-search
            svg
              use(href='../assets/svg/icon-sprite.svg#search')

        li.onhover-dropdown
          svg
            use(href='../assets/svg/icon-sprite.svg#star')
          .onhover-show-div.bookmark-flip
            .flip-card
              .flip-card-inner
                .front
                  h6.f-18.mb-0.dropdown-title Bookmark
                  ul.bookmark-dropdown
                    li
                      .row
                        .col-4.text-center
                          .bookmark-content
                            .bookmark-icon
                              i(data-feather='file-text')
                            span Forms
                        .col-4.text-center
                          .bookmark-content
                            .bookmark-icon
                              i(data-feather='user')
                            span Profile
                        .col-4.text-center
                          .bookmark-content
                            .bookmark-icon
                              i(data-feather='server')
                            span Tables
                    li.text-center
                      a.flip-btn#flip-btn.f-w-700(href="javascript:void(0)") Add New Bookmark
                .back
                  ul
                    li
                      .bookmark-dropdown.flip-back-content
                        input(type='text' placeholder='search...')
                    li
                      a.f-w-700.d-block.flip-back#flip-back(href="javascript:void(0)")
                        | Back

        li
          .mode
            svg
              use(href='../assets/svg/icon-sprite.svg#moon')
        li.cart-nav.onhover-dropdown
          .cart-box
            svg
              use(href='../assets/svg/icon-sprite.svg#stroke-ecommerce')
            span.badge.rounded-pill.badge-success 2
          .cart-dropdown.onhover-show-div
            h6.f-18.mb-0.dropdown-title Cart
            ul
              li
                .media
                  img.img-fluid.b-r-5.me-3.img-60(src='../assets/images/other-images/cart-img.jpg', alt='')
                  .media-body
                    span Furniture Chair for Home
                    .qty-box
                      .input-group
                        span.input-group-prepend
                          button.btn.quantity-left-minus(type='button' data-type='minus' data-field='')
                            | -
                        input.form-control.input-number(type='text' name='quantity' value='1')
                        span.input-group-prepend
                          button.btn.quantity-right-plus(type='button' data-type='plus' data-field='')
                            | +

                    h6.font-primary $500
                  .close-circle
                    a.bg-danger(href='#')
                      i(data-feather='x')
              li
                .media
                  img.img-fluid.b-r-5.me-3.img-60(src='../assets/images/other-images/cart-img.jpg', alt='')
                  .media-body
                    span Furniture Chair for Home
                    .qty-box
                      .input-group
                        span.input-group-prepend
                          button.btn.quantity-left-minus(type='button' data-type='minus' data-field='')
                            | -
                        input.form-control.input-number(type='text' name='quantity' value='1')
                        span.input-group-prepend
                          button.btn.quantity-right-plus(type='button' data-type='plus' data-field='')
                            | +

                    h6.font-primary $500.00
                  .close-circle
                    a.bg-danger(href='#')
                      i(data-feather='x')

              li.total
                h6.mb-0
                  | Order Total : 
                  span.f-right $1000.00
              li.text-center
                a.d-block.mb-3.view-cart.f-w-700(href='cart.html')
                  | Go to your cart
                a.btn.btn-primary.view-checkout(href='checkout.html')
                  | Checkout
        li.onhover-dropdown
          .notification-box
            svg
              use(href='../assets/svg/icon-sprite.svg#notification')
            span.badge.rounded-pill.badge-secondary 4 
          .onhover-show-div.notification-dropdown
            h6.f-18.mb-0.dropdown-title Notitications                               
            ul
              li.b-l-primary.border-4
                p
                  | Delivery processing 
                  span.font-danger 10 min.
              li.b-l-success.border-4
                p
                  | Order Complete
                  span.font-success 1 hr
              li.b-l-secondary.border-4
                p
                  | Tickets Generated
                  span.font-secondary 3 hr
              li.b-l-warning.border-4
                p
                  | Delivery Complete
                  span.font-warning 6 hr
              li
                a.f-w-700(href="#") Check all
        li.profile-nav.onhover-dropdown.pe-0.py-0
          .media.profile-media
            img.b-r-10(src='../assets/images/dashboard/profile.png', alt='')
            .media-body
              span Emay Walter
              p.mb-0.font-roboto Admin 
                i.middle.fa.fa-angle-down
          ul.profile-dropdown.onhover-show-div
            li
              a(href='#')
                i(data-feather='user')
                span Account 
            li
              a(href='#')
                i(data-feather='mail')
                span Inbox
            li
              a(href='#')
                i(data-feather='file-text')
                span Taskboard
            li
              a(href='#')
                i(data-feather='settings')
                span Settings
            li
              a(href='#')
                i(data-feather='log-in') 
                span Log in

    //- .d-lg-none.mobile-toggle.pull-right
    //-     i(data-feather='more-horizontal')
    script.result-template(type='text/x-handlebars-template').
      <div class="ProfileCard u-cf">                        
      <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
      <div class="ProfileCard-details">
      <div class="ProfileCard-realName">{{name}}</div>
      </div>
      </div>
    script.empty-template(type='text/x-handlebars-template').
      <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
// Page Header Ends                              
