@using AlexBlogMVC.Areas.BackEnd.Models;

@{
    Layout = null;
    List<NewsClass> newsType = ViewBag.NewsType as List<NewsClass>;
    List<ProductClass> productType = ViewBag.ProductType as List<ProductClass>;
    var page = 1;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Factorian - Multiniche HTML Template | Homepage Transportation</title>
    <!-- Stylesheets -->
    <link href="~/FrontEnd/css/bootstrap.css" rel="stylesheet">
    <link href="~/FrontEnd/css/revolution-slider.css" rel="stylesheet">
    <link href="~/FrontEnd/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/FrontEnd/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="transportation-theme">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Header Style Three -->
        <header class="header-style-three site-header">
            <!-- Header Top -->
            <div class="header-top">
                <div class="outer-container">
                    <div class="row clearfix">

                        <!--Top Left-->
                        <div class="top-left col-md-4 col-sm-4 col-xs-12">
                            <ul>
                                <li><span class="icon fa fa-clock-o"></span> Mon - Sat : 9 am - 9 pm</li>
                            </ul>
                        </div>

                        <!--Top Right-->
                        <div class="top-right col-md-8 col-sm-8 col-xs-12">
                            <ul>
                                <li class="social-links"><a href="#"><span class="fa fa-twitter"></span></a><a href="#"><span class="fa fa-facebook-f"></span></a><a href="#"><span class="fa fa-youtube-play"></span></a><a href="#"><span class="fa fa-instagram"></span></a><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div><!-- Header Top End -->
            <!-- Main Box -->
            <div class="main-box">
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="~/FrontEnd/images/logo-8.png" alt=""></a></div>
                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">

                                    <li><a asp-controller="Default" asp-action="Index">主頁</a></li>
                                    <li><a asp-controller="AboutUs" asp-action="Index">關於我</a></li>
                                    <li><a href="contact.html">購物頁</a></li>
                                    <li class="dropdown">
                                        <a href="#">新聞</a>
                                        <ul>
                                            <li><a asp-controller="NewsPage" asp-action="index">全部</a></li>
                                            @{
                                                foreach (NewsClass item in newsType)
                                                {
                                                    var url = Url.Action("Index", "NewsPage", new { ClassType = item.NewsClassNum, Page = page });
                                                    <li><a href="@url">@item.NewsClassName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">聯絡我</a></li>

                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                    </div><!--Nav Outer End-->

                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                        <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->


                </div>
            </div>

        </header>
        <!--End Header Style Three-->
        <!-- Hidden Navigation Bar -->
        <section class="hidden-bar right-align">

            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>

            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">

                <!-- .logo -->
                <div class="logo text-center">
                    <a href="index.html"><img src="~/FrontEnd/images/logo-sidebar.png" alt=""></a>
                </div><!-- /.logo -->
                <!-- .Side-menu -->
                <div class="side-menu">
                    <!-- .navigation -->
                    <ul class="navigation clearfix">
                        
                        <li><a asp-controller="Default" asp-action="Index">主頁</a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">關於我</a></li>
                        <li><a href="contact.html">購物頁</a></li>
                        <li class="dropdown">
                            <a href="#">新聞</a>
                            <ul>
                                <li><a asp-controller="NewsPage" asp-action="index">全部</a></li>
                                @{
                                    foreach (NewsClass item in newsType)
                                    {
                                        var url = Url.Action("Index", "NewsPage", new { ClassType = item.NewsClassNum, Page = page });
                                        <li><a href="@url">@item.NewsClassName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li><a href="contact.html">聯絡我</a></li>

                    </ul>
                </div><!-- /.Side-menu -->

                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div><!-- / Hidden Bar Wrapper -->
        </section><!-- / Hidden Bar -->
        <!--Main Slider-->
        <section class="main-slider style-one">

            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/FrontEnd/images/main-slider/8.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="~/FrontEnd/images/main-slider/8.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!--Transparent layer Full-->
                            <div class="transparent-bg-layer-full"></div>

                            <div class="tp-caption sfb sft tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h3 class="bigger-text">We’re the best in <br>transportaion business</h3>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="80"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <div class="text">Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br>corrupti quos dolores et quas molestias excepturi</div>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="180"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <a href="#" class="theme-btn btn-style-one">View Details</a>
                            </div>

                        </li>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/FrontEnd/images/main-slider/8.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="~/FrontEnd/images/main-slider/8.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!--Transparent layer Full-->
                            <div class="transparent-bg-layer-full"></div>

                            <div class="tp-caption sfb sft tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h3 class="bigger-text">We’re the best in <br>transportaion business</h3>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="80"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <div class="text">Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br>corrupti quos dolores et quas molestias excepturi</div>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="180"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <a href="#" class="theme-btn btn-style-one">View Details</a>
                            </div>

                        </li>

                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="~/FrontEnd/images/main-slider/8.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="~/FrontEnd/images/main-slider/8.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!--Transparent layer Full-->
                            <div class="transparent-bg-layer-full"></div>

                            <div class="tp-caption sfb sft tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h3 class="bigger-text">We’re the best in <br>transportaion business</h3>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="80"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <div class="text">Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br>corrupti quos dolores et quas molestias excepturi</div>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="180"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <a href="#" class="theme-btn btn-style-one">View Details</a>
                            </div>

                        </li>


                    </ul>

                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </section>


        <!--Services Style Four-->
        <section class="services-style-four">
            <div class="outer-container">
                <div class="left-border-title">
                    <h2>our services</h2>
                </div>

                <div class="row clearfix">

                    <!--Featured Service Column-->
                    <div class="featured-service-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image-box"><a href="service-single.html"><img src="~/FrontEnd/images/resource/featured-image-20.jpg" alt=""></a><div class="icon-box"><span class="flaticon-truck-1"></span></div></figure>
                            <div class="lower-content">
                                <h3>Transportation</h3>
                                <div class="text">praising pain was born and I will give you a complete account </div>
                                <a href="service-single.html" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--Featured Service Column-->
                    <div class="featured-service-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <figure class="image-box"><a href="service-single.html"><img src="~/FrontEnd/images/resource/featured-image-21.jpg" alt=""></a><div class="icon-box"><span class="flaticon-interface-2"></span></div></figure>
                            <div class="lower-content">
                                <h3>Cargo</h3>
                                <div class="text">praising pain was born and I will give you a complete account </div>
                                <a href="service-single.html" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--Featured Service Column-->
                    <div class="featured-service-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <figure class="image-box"><a href="service-single.html"><img src="~/FrontEnd/images/resource/featured-image-22.jpg" alt=""></a><div class="icon-box"><span class="flaticon-tractor-side-view"></span></div></figure>
                            <div class="lower-content">
                                <h3>Logistic</h3>
                                <div class="text">praising pain was born and I will give you a complete account </div>
                                <a href="service-single.html" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--Call to Action Three-->
        <section class="call-to-action-three" style="background-image:url(~/FrontEnd/images/background/image-5.jpg);">
            <div class="outer-container">
                <div class="clearfix">
                    <!--Left Column-->
                    <div class="left-column">
                        <div class="title-outer">
                            <h3>We’ve plenty of fresh <span class="theme_color">new</span> transportations</h3>
                            <div class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                        </div>
                    </div>

                    <!--Right Column-->
                    <div class="right-column">
                        <a href="contact.html" class="theme-btn btn-style-one">Explore</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Default Two Column-->
        <section class="default-two-column bg-lightgrey">
            <div class="outer-container">
                <div class="row clearfix">

                    <!--Tabs Column-->
                    <div class="tabs-column col-lg-8 col-md-12 col-xs-12">
                        <div class="left-border-title">
                            <h2>About Us</h2>
                        </div>

                        <!--Tabs Box / Style Three-->
                        <div class="tabs-box tabs-style-five">

                            <!--Tabs Content-->
                            <div class="tabs-content">
                                <!--Tab-->
                                <div class="tab" id="about-tab">
                                    <div class="row clearfix">
                                        <div class="image-column col-lg-6 col-sm-6 col-xs-12">
                                            <figure class="image-box"><img src="~/FrontEnd/images/resource/featured-image-23.jpg" alt=""></figure>
                                        </div>
                                        <div class="text-column col-lg-6 col-sm-6 col-xs-12">
                                            <div class="logo-box"><a href="#"><img src="~/FrontEnd/images/resource/logo-image-2.png" alt=""></a></div>
                                            <div class="tab-title"><h3>About Us</h3></div>
                                            <div class="text-content">
                                                <div class="text">Reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="history-tab">
                                    <div class="row clearfix">
                                        <div class="image-column col-lg-6 col-sm-6 col-xs-12">
                                            <figure class="image-box"><img src="~/FrontEnd/images/resource/featured-image-23.jpg" alt=""></figure>
                                        </div>
                                        <div class="text-column col-lg-6 col-sm-6 col-xs-12">
                                            <div class="logo-box"><a href="#"><img src="~/FrontEnd/images/resource/logo-image-2.png" alt=""></a></div>
                                            <div class="tab-title"><h3>The Establishment</h3></div>
                                            <div class="text-content">
                                                <div class="text">Reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="mission-tab">
                                    <div class="row clearfix">
                                        <div class="image-column col-lg-6 col-sm-6 col-xs-12">
                                            <figure class="image-box"><img src="~/FrontEnd/images/resource/featured-image-23.jpg" alt=""></figure>
                                        </div>
                                        <div class="text-column col-lg-6 col-sm-6 col-xs-12">
                                            <div class="logo-box"><a href="#"><img src="~/FrontEnd/images/resource/logo-image-2.png" alt=""></a></div>
                                            <div class="tab-title"><h3>Our Mission</h3></div>
                                            <div class="text-content">
                                                <div class="text">Reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <!--Tab Buttons-->
                            <div class="tab-buttons-outer">
                                <ul class="tab-buttons">
                                    <li data-tab="#about-tab" class="tab-btn">About</li>
                                    <li data-tab="#history-tab" class="tab-btn active-btn">History</li>
                                    <li data-tab="#mission-tab" class="tab-btn">Mission</li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <!--Faqs Column-->
                    <div class="faq-column col-lg-4 col-md-12 col-xs-12">
                        <div class="left-border-title">
                            <h2>Choose Us</h2>
                        </div>

                        <!--Accordion Box / Style One-->
                        <ul class="accordion-box style-one">

                            <!--Block-->
                            <li class="accordion block wow fadeInUp active-block" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-remove"></span></div> We are hard workers</div>
                                <div class="acc-content current">
                                    <div class="content clearfix">
                                        <p>Those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                                        <ul class="styled-list-two">
                                            <li>Omnis iste natus error sit voluptatem</li>
                                            <li>Accusantium doloremque laudant</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-remove"></span></div> Quality Team Members</div>
                                <div class="acc-content">
                                    <div class="content clearfix">
                                        <p>Those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                                        <ul class="styled-list-two">
                                            <li>Omnis iste natus error sit voluptatem</li>
                                            <li>Accusantium doloremque laudant</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-remove"></span></div> Worlwide Reputed Factory</div>
                                <div class="acc-content">
                                    <div class="content clearfix">
                                        <p>Those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                                        <ul class="styled-list-two">
                                            <li>Omnis iste natus error sit voluptatem</li>
                                            <li>Accusantium doloremque laudant</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--Block-->
                            <li class="accordion block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-remove"></span></div> Service at ready 24/7</div>
                                <div class="acc-content">
                                    <div class="content clearfix">
                                        <p>Those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                                        <ul class="styled-list-two">
                                            <li>Omnis iste natus error sit voluptatem</li>
                                            <li>Accusantium doloremque laudant</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul><!--End Accordion Box-->

                    </div>

                </div>
            </div>
        </section>


        <!--Projects Gallery Three-->
        <section class="projects-gallery-three normal-masonry">
            <div class="outer-container">
                <div class="left-border-title">
                    <h2>Our Projects</h2>
                    <div class="desc-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                </div>

                <div class="items-container row clearfix">

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-8 col-sm-12 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/16.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/16.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/16.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/17.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/17.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/17.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/18.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/18.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/18.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/19.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/19.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/19.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/20.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/20.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/20.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>


        <!--Get Quote One-->
        <section class="get-quote-one" style="background-image:url(images/background/image-6.jpg);">

            <div class="outer-container">
                <div class="outer-box">
                    <div class="row clearfix">
                        <!--Service Block-->
                        <div class="service-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-car"></span></div>
                                <h3>Engine Maitenance</h3>
                                <div class="text">web page editors now use Lorem Ipsum as their default model text.</div>
                            </div>
                        </div>

                        <!--Service Block-->
                        <div class="service-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-barrel"></span></div>
                                <h3>Oil Change</h3>
                                <div class="text">web page editors now use Lorem Ipsum as their default model text.</div>
                            </div>
                        </div>

                        <!--Service Block-->
                        <div class="service-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-speedometer"></span></div>
                                <h3>Motorbike Servicing</h3>
                                <div class="text">web page editors now use Lorem Ipsum as their default model text.</div>
                            </div>
                        </div>

                        <!--Service Block-->
                        <div class="service-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-medal"></span></div>
                                <h3>Exotic Brand</h3>
                                <div class="text">web page editors now use Lorem Ipsum as their default model text.</div>
                            </div>
                        </div>

                    </div>

                    <!--Quote Form one-->
                    <div class="quote-form-one">
                        <div class="form-header">
                            <div class="icon-box"><span class="flaticon-truck-1"></span></div>
                            <h3><span>Request</span> A quick quote</h3>
                        </div>
                        <div class="form">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="text" name="field-name" value="" placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="field-name" value="" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="field-name" value="" placeholder="Phone" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="field-name" placeholder="Quote Details" required></textarea>
                                </div>

                                <div class="padd-top-20"><button type="button" class="theme-btn btn-style-one">Submit</button></div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--Team Style Four-->
        <section class="team-style-four">
            <div class="outer-container">
                <div class="left-border-title">
                    <h2>Meet the team</h2>
                    <div class="desc-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                </div>

                <div class="team-carousel-three four-column-carousel">
                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-12.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-13.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-14.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-15.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Tahira Tul Zahra</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-12.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-13.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-14.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-15.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Tahira Tul Zahra</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-12.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-13.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-14.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Hasib Sharif</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Team Member Four-->
                    <div class="team-member-four">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/FrontEnd/images/resource/team-image-15.jpg" alt=""></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <div class="designation">CEO, KBD</div>
                                <h3>Tahira Tul Zahra</h3>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-square"></span></a>
                                    <a href="#"><span class="fa fa-twitter-square"></span></a>
                                    <a href="#"><span class="fa fa-google-plus-square"></span></a>
                                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--Testimonial Style One-->
        <section class="testimonial-style-one">
            <div class="auto-container">
                <div class="centered-title-two">
                    <h2><strong>What our clients say</strong></h2>
                </div>

                <!--Testimonial Carousel-->
                <div class="testimonial-carousel two-column-carousel">
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box clearfix">
                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>

                            <div class="image-outer">
                                <figure class="author-image"><img src="~/FrontEnd/images/resource/testi-image-1.jpg" alt=""></figure>
                            </div>
                            <div class="content-outer">
                                <div class="text">I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                <h4>- Hasib Sharif,  <span class="theme_color">Envato</span></h4>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box clearfix">
                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                            <div class="image-outer">
                                <figure class="author-image"><img src="~/FrontEnd/images/resource/testi-image-2.jpg" alt=""></figure>
                            </div>
                            <div class="content-outer">
                                <div class="text">I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                <h4>- Tahira Tuz Zohra,  <span class="theme_color">Envato</span></h4>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box clearfix">
                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                            <div class="image-outer">
                                <figure class="author-image"><img src="~/FrontEnd/images/resource/testi-image-1.jpg" alt=""></figure>
                            </div>
                            <div class="content-outer">
                                <div class="text">I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                <h4>- Hasib Sharif,  <span class="theme_color">Envato</span></h4>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box clearfix">
                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                            <div class="image-outer">
                                <figure class="author-image"><img src="~/FrontEnd/images/resource/testi-image-2.jpg" alt=""></figure>
                            </div>
                            <div class="content-outer">
                                <div class="text">I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                <h4>- Tahira Tuz Zohra,  <span class="theme_color">Envato</span></h4>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box clearfix">
                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>

                            <div class="image-outer">
                                <figure class="author-image"><img src="~/FrontEnd/images/resource/testi-image-1.jpg" alt=""></figure>
                            </div>
                            <div class="content-outer">
                                <div class="text">I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                <h4>- Hasib Sharif,  <span class="theme_color">Envato</span></h4>
                            </div>
                        </div>
                    </div>

                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box clearfix">
                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                            <div class="image-outer">
                                <figure class="author-image"><img src="~/FrontEnd/images/resource/testi-image-2.jpg" alt=""></figure>
                            </div>
                            <div class="content-outer">
                                <div class="text">I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                <h4>- Tahira Tuz Zohra,  <span class="theme_color">Envato</span></h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>


        <!--Newsletter Style One / Extended-->
        <section class="newsletter-style-one extended" style="background-image:url(images/background/image-8.jpg);">
            <div class="medium-container">

                <div class="title-box">
                    <div class="icon-box"><span class="fa fa-paper-plane"></span></div>
                    <h2>Subscribe for updates</h2>
                    <div class="desc-text">Who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure.</div>
                </div>

                <!--Form Column-->
                <div class="form-box">
                    <div class="inner-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Email Address" required>
                                <button type="submit" class="theme-btn">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!--Sponsors Style One-->
        <section class="sponsors-style-one">
            <div class="outer-container">
                <div class="centered-title-two">
                    <h2>Our Partners</h2>
                    <div class="desc-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                </div>

                <!--Sponsors SLider-->
                <ul class="sponsors-slider">
                    <li><a href="#"><img src="~/FrontEnd/images/clients/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/5.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/5.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/FrontEnd/images/clients/5.jpg" alt=""></a></li>
                </ul>
            </div>
        </section>


        <!--Main Footer-->
        <footer class="main-footer">

            <!--Widgets Section-->
            <div class="widgets-section" style="background-image:url(~/FrontEnd/images/background/image-2.jpg);">
                <div class="outer-container">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget about-widget">
                                        <figure class="footer-logo"><a href="index.html"><img src="~/FrontEnd/images/logo-4.png" alt=""></a></figure>

                                        <div class="widget-content">
                                            <div class="text">It is my duty to distract the reader by just looiking at it </div>
                                            <ul class="contact-info">
                                                <li><span class="icon flaticon-envelope"></span> support@factory.com</li>
                                                <li><span class="icon flaticon-telephone-1"></span> +91 2225 123 957</li>
                                                <li><span class="icon flaticon-placeholder"></span> New Metro Road, Baskervile <br>Texas - 3520, USA</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget twitter-widget">
                                        <h2>Twitter Posts</h2>
                                        <div class="widget-content">
                                            <div class="feed">
                                                <div class="text">“ There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. ”</div>
                                                <h4 class="author-title">f</h4>
                                            </div>
                                            <div class="feed">
                                                <div class="text">“ Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.  ”</div>
                                                <h4 class="author-title">-</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <h2>Quick Links</h2>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget posts-widget">
                                        <h2>Recent Posts</h2>
                                        <div class="widget-content">
                                            <!--Post-->
                                            <div class="post">
                                                <div class="content">
                                                    <figure class="post-thumb"><a href="#"><img src="~/FrontEnd/images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                                    <h4><a href="#">It has roots in a piece of classical</a></h4>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                            <!--Post-->
                                            <div class="post">
                                                <div class="content">
                                                    <figure class="post-thumb"><a href="#"><img src="~/FrontEnd/images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                                    <h4><a href="#">It has roots in a piece of classical</a></h4>
                                                    <div class="time">5 hours ago</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="outer-container">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12"><div class="copyright">Factorian &copy; <span class="year">2016</span>. All rights are reserved.</div></div>
                        <div class="col-md-6 col-sm-12"><div class="developed-by">Made with <span class="fa fa-heart"></span>  by <a target="_blank" href="https://themeforest.net/user/themexriver/portfolio" class="author-name">Themexriver</a></div></div>
                    </div>
                </div>
            </div>

        </footer>


    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".site-header"><span class="fa fa-long-arrow-up"></span></div>


    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="flaticon-cross-1"></span></div>
        <div class="popup-inner">

            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                            <input type="submit" value="Search" class="theme-btn">
                        </fieldset>
                    </div>
                </form>

                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Logistics</a></li>
                    <li><a href="#">Freedom</a></li>
                </ul>

            </div>

        </div>
    </div>


    <script src="~/FrontEnd/js/jquery.js"></script>
    <script src="~/FrontEnd/js/bootstrap.min.js"></script>
    <script src="~/FrontEnd/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/FrontEnd/js/revolution.min.js"></script>
    <script src="~/FrontEnd/js/jquery.fancybox.pack.js"></script>
    <script src="~/FrontEnd/js/jquery.fancybox-media.js"></script>
    <script src="~/FrontEnd/js/mixitup.js"></script>
    <script src="~/FrontEnd/js/isotope.js"></script>
    <script src="~/FrontEnd/js/owl.js"></script>
    <script src="~/FrontEnd/js/wow.js"></script>
    <script src="~/FrontEnd/js/knob.js"></script>
    <script src="~/FrontEnd/js/script.js"></script>
</body>
</html>