@using AlexBlogMVC.Areas.BackEnd.Models;

@{
    Layout = null;
    List<NewsClass> newsType = ViewBag.NewsType as List<NewsClass>;
    List<ProductClass> productType = ViewBag.ProductType as List<ProductClass>;
    var page = 1;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Factorian - Multiniche HTML Template | Homepage Transportation</title>
    <!-- Stylesheets -->
    <link href="~/FrontEnd/css/bootstrap.css" rel="stylesheet">
    <link href="~/FrontEnd/css/revolution-slider.css" rel="stylesheet">
    <link href="~/FrontEnd/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/FrontEnd/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="transportation-theme">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Header Style Three -->
        <header class="header-style-three site-header">
            <!-- Main Box -->
            <div class="main-box">
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="~/FrontEnd/images/logo-12.png" alt=""></a></div>
                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">

                                    <li><a asp-controller="Default" asp-action="Index">主頁</a></li>
                                    <li><a asp-controller="AboutUs" asp-action="Index">關於我</a></li>
                                    <li><a href="contact.html">購物頁</a></li>
                                    <li class="dropdown">
                                        <a href="#">新聞</a>
                                        <ul>
                                            <li><a asp-controller="NewsPage" asp-action="index">全部</a></li>
                                            @{
                                                foreach (NewsClass item in newsType)
                                                {
                                                    var url = Url.Action("Index", "NewsPage", new { ClassType = item.NewsClassNum, Page = page });
                                                    <li><a href="@url">@item.NewsClassName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">聯絡我</a></li>

                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                    </div><!--Nav Outer End-->

                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                        <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->


                </div>
            </div>

        </header>
        <!--End Header Style Three-->
        <!-- Hidden Navigation Bar -->
        <section class="hidden-bar right-align">

            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>

            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">

                <!-- .logo -->
                <div class="logo text-center">
                    <a href="index.html"><img src="~/FrontEnd/images/logo-sidebar.png" alt=""></a>
                </div><!-- /.logo -->
                <!-- .Side-menu -->
                <div class="side-menu">
                    <!-- .navigation -->
                    <ul class="navigation clearfix">
                        
                        <li><a asp-controller="Default" asp-action="Index">主頁</a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">關於我</a></li>
                        <li><a href="contact.html">購物頁</a></li>
                        <li class="dropdown">
                            <a href="#">新聞</a>
                            <ul>
                                <li><a asp-controller="NewsPage" asp-action="index">全部</a></li>
                                @{
                                    foreach (NewsClass item in newsType)
                                    {
                                        var url = Url.Action("Index", "NewsPage", new { ClassType = item.NewsClassNum, Page = page });
                                        <li><a href="@url">@item.NewsClassName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li><a href="contact.html">聯絡我</a></li>

                    </ul>
                </div><!-- /.Side-menu -->

                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div><!-- / Hidden Bar Wrapper -->
        </section><!-- / Hidden Bar -->


        <!--Main Slider-->
        <section class="main-slider style-one">

            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/FrontEnd/images/main-slider/8.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="~/FrontEnd/images/main-slider/8.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!--Transparent layer Full-->
                            <div class="transparent-bg-layer-full"></div>

                            <div class="tp-caption sfb sft tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h3 class="bigger-text">We’re the best in <br>transportaion business</h3>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="80"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <div class="text">Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br>corrupti quos dolores et quas molestias excepturi</div>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="180"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <a href="#" class="theme-btn btn-style-one">View Details</a>
                            </div>

                        </li>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/FrontEnd/images/main-slider/8.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="~/FrontEnd/images/main-slider/8.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!--Transparent layer Full-->
                            <div class="transparent-bg-layer-full"></div>

                            <div class="tp-caption sfb sft tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h3 class="bigger-text">We’re the best in <br>transportaion business</h3>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="80"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <div class="text">Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br>corrupti quos dolores et quas molestias excepturi</div>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="180"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <a href="#" class="theme-btn btn-style-one">View Details</a>
                            </div>

                        </li>

                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="~/FrontEnd/images/main-slider/8.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="~/FrontEnd/images/main-slider/8.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!--Transparent layer Full-->
                            <div class="transparent-bg-layer-full"></div>

                            <div class="tp-caption sfb sft tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h3 class="bigger-text">We’re the best in <br>transportaion business</h3>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="80"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <div class="text">Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br>corrupti quos dolores et quas molestias excepturi</div>
                            </div>

                            <div class="tp-caption sfb sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="180"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <a href="#" class="theme-btn btn-style-one">View Details</a>
                            </div>

                        </li>


                    </ul>

                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </section>

        <!--Services Style Four-->
        <section class="services-style-four">
            <div class="outer-container">
                <div class="left-border-title">
                    <h2>our services</h2>
                </div>

                <div class="row clearfix">

                    <!--Featured Service Column-->
                    <div class="featured-service-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image-box"><a href="service-single.html"><img src="~/FrontEnd/images/resource/featured-image-20.jpg" alt=""></a><div class="icon-box"><span class="flaticon-truck-1"></span></div></figure>
                            <div class="lower-content">
                                <h3>Transportation</h3>
                                <div class="text">praising pain was born and I will give you a complete account </div>
                                <a href="service-single.html" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--Featured Service Column-->
                    <div class="featured-service-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <figure class="image-box"><a href="service-single.html"><img src="~/FrontEnd/images/resource/featured-image-21.jpg" alt=""></a><div class="icon-box"><span class="flaticon-interface-2"></span></div></figure>
                            <div class="lower-content">
                                <h3>Cargo</h3>
                                <div class="text">praising pain was born and I will give you a complete account </div>
                                <a href="service-single.html" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--Featured Service Column-->
                    <div class="featured-service-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <figure class="image-box"><a href="service-single.html"><img src="~/FrontEnd/images/resource/featured-image-22.jpg" alt=""></a><div class="icon-box"><span class="flaticon-tractor-side-view"></span></div></figure>
                            <div class="lower-content">
                                <h3>Logistic</h3>
                                <div class="text">praising pain was born and I will give you a complete account </div>
                                <a href="service-single.html" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--Projects Gallery Three-->
        <section class="default-two-column bg-lightgrey">
            <div class="outer-container">
                <div class="left-border-title">
                    <h2>Our Projects</h2>
                    <div class="desc-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</div>
                </div>

                <div class="items-container row clearfix">

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-8 col-sm-12 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/16.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/16.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/16.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/17.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/17.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/17.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/18.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/18.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/18.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/19.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/19.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/19.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="portfolio-item-three masonry-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="~/FrontEnd/images/gallery/20.jpg" class="image-link lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/gallery/20.jpg" alt=""></a></figure>
                            <div class="layer-one"></div>
                            <div class="layer-two"></div>
                            <div class="hover-info">
                                <a href="~/FrontEnd/images/gallery/20.jpg" class="image-link lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <h4><a href="project-single.html">Project Spartan</a></h4>
                                <div class="info">US. Motors</div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!--Main Footer-->
        <footer class="main-footer">

            <!--Widgets Section-->
            <div class="widgets-section" style="background-image:url(images/background/image-2.jpg);">
                <div class="outer-container">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget about-widget">
                                        <figure class="footer-logo"><a href="index.html"><img src="~/FrontEnd/images/logo-12.png" alt=""></a></figure>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <h2>聯絡我</h2>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li>Email   : yuting09210310@gmail.com</li>
                                                <li>Tel     : +886 968977794</li>
                                                <li>GitHub  : yuting09120310 </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".site-header"><span class="fa fa-long-arrow-up"></span></div>


    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="flaticon-cross-1"></span></div>
        <div class="popup-inner">

            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                            <input type="submit" value="Search" class="theme-btn">
                        </fieldset>
                    </div>
                </form>

                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Logistics</a></li>
                    <li><a href="#">Freedom</a></li>
                </ul>

            </div>

        </div>
    </div>


    <script src="~/FrontEnd/js/jquery.js"></script>
    <script src="~/FrontEnd/js/bootstrap.min.js"></script>
    <script src="~/FrontEnd/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/FrontEnd/js/revolution.min.js"></script>
    <script src="~/FrontEnd/js/jquery.fancybox.pack.js"></script>
    <script src="~/FrontEnd/js/jquery.fancybox-media.js"></script>
    <script src="~/FrontEnd/js/mixitup.js"></script>
    <script src="~/FrontEnd/js/isotope.js"></script>
    <script src="~/FrontEnd/js/owl.js"></script>
    <script src="~/FrontEnd/js/wow.js"></script>
    <script src="~/FrontEnd/js/knob.js"></script>
    <script src="~/FrontEnd/js/script.js"></script>
</body>
</html>